@import url('https://fonts.googleapis.com/css2?family=Atma:wght@400;500;700&display=swap');
:root {
    --text-color: #000;
    --background: #3e3e3e;
    --white-text: #fff;
    --heading1: #dd7017;
    --heading2: #1c67e2;
    --heading3: #fff4f4;
    --heading4: #ff6969;
    --bg: #3e3e3ea5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

*::selection {
    background-color: var(--heading1);
    color: #333;
}

html {
    font-size: 90%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: 0.6rem;
}

html::-webkit-scrollbar-track {
    background: #333;
}

html::-webkit-scrollbar-thumb {
    background: var(--heading2);
    border-radius: 50px;
}

body {
    font-family: 'Atma', cursive;
    overflow-x: hidden;
    color: var(--text-color);
}

.mother-menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    background-color: #3a3a3a39;
    transform: translateX(-100%);
    transition: .3s linear;
}

.menu-container {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--background);
    width: 35vw;
    height: 100vh;
}

.menu-container .minimize-menu {
    cursor: pointer;
    padding: 1rem;
}

.menu-container .minimize-menu i {
    color: var(--white-text);
    margin-left: 29vw;
    margin-top: .25rem;
    padding: .5rem .7rem;
    font-size: 1.2rem;
    border-radius: .3rem;
    transition: .1s linear;
}

.menu-container .minimize-menu i:hover {
    background-color: var(--white-text);
    color: var(--text-color);
}

.nav-menu {
    position: relative;
    top: 0;
    display: flex;
    justify-content: space-between;
    list-style: none;
    flex-direction: column;
}

.nav-menu .menu-branding {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.nav-menu .menu-branding img {
    max-width: 150px;
    border-radius: 50%;
}

.nav-menu .menu-branding .description {
    text-align: center;
    line-height: 20px;
    color: var(--white-text);
}

.nav-menu .menu-branding .description h2 {
    font-weight: 550;
    font-size: 1.2rem;
    color: var(--heading3);
}

.nav-menu .menu-branding .description h4 {
    font-weight: 400;
    font-size: 1rem;
    color: var(--heading1);
}

.nav-menu .menu-branding .description h3 {
    font-weight: 500;
    font-size: 1.1rem;
    color: var(--heading4);
}

.nav-menu .menu-link {
    text-decoration: none;
    color: var(--white-text);
}

.nav-menu .menu-link .menu-item {
    display: flex;
    align-items: center;
    padding: .7rem;
    font-size: 1.15rem;
    border-bottom: 2px solid var(--white-text);
    border-radius: .3rem;
    margin-right: 1.5em;
    transition: .2s linear;
}

.nav-menu .menu-link .menu-item i {
    padding-right: 1.5rem;
    padding-left: 1rem;
}

.nav-menu .menu-link .menu-item:hover {
    background-color: var(--white-text);
    color: var(--text-color);
    transform: translateX(1rem);
    border: none;
}

.nav-icon {
    position: fixed;
    top: 2.5vh;
    right: 3vw;
    background-color: var(--bg);
    color: var(--heading3);
    padding: .3rem .8rem;
    font-size: 1.2rem;
    cursor: pointer;
    transition: .2s linear;
}

.nav-icon:hover {
    background-color: var(--text-color);
    color: var(--white-text);
}

.header {
    background: linear-gradient(#000000e7, #0000009a), url(images/web-banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 94vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.header .banner-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .banner-image img {
    max-width: 300px;
    border-radius: 50%;
}

.header .banner-text {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white-text);
    font-size: 1.5em;
    padding-right: 1.3rem;
}

.header .banner-text h3 {
    color: var(--heading4);
}

.header .banner-text a {
    text-decoration: none;
    /* margin-right: 10rem; */
}

.header .banner-text .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--heading2);
    color: var(--white-text);
    margin-top: 1.5rem;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
    border-radius: .3rem;
    transition: .2s linear;
}

.header .banner-text .btn:hover {
    background-color: var(--white-text);
    color: var(--heading2);
}

.header .banner-text .btn i {
    margin-right: 10px;
}

.bubbles img {
    width: 50px;
    animation: bubble 4s linear infinite;
    opacity: 0;
}

.bubbles {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: -0.5rem;
    z-index: 1;
}

@keyframes bubble {
    0% {
        transform: translateY(0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: translateY(-80vh);
        opacity: 0;
    }
}

.bubbles img:nth-child(1) {
    animation-delay: 2s;
    width: 25px;
}

.bubbles img:nth-child(2) {
    animation-delay: 2s;
}

.bubbles img:nth-child(3) {
    animation-delay: 1s;
    width: 25px;
}

.bubbles img:nth-child(4) {
    animation-delay: 3s;
}

.bubbles img:nth-child(5) {
    animation-delay: 4.5s;
}

.bubbles img:nth-child(6) {
    animation-delay: 6s;
    width: 20px;
}

.bubbles img:nth-child(7) {
    animation-delay: 3.5s;
    width: 35px;
}